<br />
<br />

<div class="container">
    <div class="row">
        <div class="jumbotron status-box col-12">
            <span class="font-large col-8" style="float:left">
                <h3>All Systems Operational</h3>
            </span>
            <span class="last-updated-stamp font-small col-4" style="float:right">
                <small>Refreshed about {{minutesAgo}} minutes ago</small>
            </span>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="text-section col-12">
            <h4 class="font-largest">About This Site</h4>
            <p class="color-secondary font-regular">
                Any time there's a scheduled maintenance or system performance issue, you'll find real-time updates here. Anyone on the incident
                thread will also recieve any new messages/comments.
            </p>
        </div>
    </div>

    <br />
    <div class="row mb-5">
        <div class="col-12">
            <app-forums></app-forums>
        </div>
    </div>

</div>