.dateHeader {
    font-weight: 500;
    // border-color: gray;
    // border-style: solid;
    // border-bottom-width: 1px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.line-breaker {
    white-space: pre-line;
}

.forum-link:hover {
    background-color:#F3F3F3;
    cursor: pointer;
}